################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/GitLabWebook.API/obj
/src/GitLabWebook.API/bin
/src/GitLabWebook.API/.vs
